@font-face {
    font-weight: normal;
    font-family: "Open Sans";
    font-style: normal;
    src: url("../fonts/opensans.woff") format("woff"), url("../fonts/opensans.woff2") format("woff2"); }

@font-face {
    font-weight: 700;
    font-family: "Open Sans Bold";
    font-style: normal;
    src: url("../fonts/opensansbold.woff") format("woff"), url("../fonts/opensansbold.woff2") format("woff2"); 
}

body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 24px;
    font-family: "Open Sans", "Arial", sans-serif;
    color: #283645;
    font-style: normal;
    background-color: #FFFFFF; 
}

a {
    text-decoration: none; }

/***  убираем пунктирную обводку вокруг ссылок при нажатии ***/
a {
    outline:none !important;
} 

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/*** для подключения svg-спрайта через local storage ***/
svg {
    position: absolute; 
    width: 0; 
    height: 0; 
    overflow: hidden;
}

/*** Header ***/

.page-header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3); 
}

.page-header::after {
    content: "";
    display: table;
    clear: both; 
}

.page-header__container {
    width: auto;
    min-width: 300px;
    margin: 0 auto; 
}

.page-header__logo {
    float: left;
    width: 75px;
    height: 23px;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 23px;
    font-size: 0; 
    background-image: url(../img/logo-pink-white-mobile.svg);
    background-repeat: no-repeat;
    transition: 0.5s;
}

.page-header__logo:hover {
    background-image: url(../img/logo-pink-blue-mobile.svg);
    transition: 0.3s;
}

.page-header__logo:active {
    background-image: url(../img/logo-pink-white-mobile.svg);
    opacity: 0.5;
}

.page-header {
    position: relative;
    background-color: rgba(0, 0, 0, 0.3); 
}

.page-header::after {
    content: "";
    display: table;
    clear: both; 
}

.page-header__container {
    width: auto;
    min-width: 300px;
    margin: 0 auto; 
}

.page-header__logo {
    float: left;
    width: 76px;
    height: 24px;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-left: 20px;
    margin-bottom: 23px;
    font-size: 0; 
}

.main-nav {
    position: relative;
    float: right;
    width: 100%; 
}

.main-nav__container--closed {
    display: none; 
}

.main-nav__container--opened {
    position: relative;
    top: -72px;
    width: 100%;
    z-index: 9;
    padding-top: 78px;
    background-color: #283645; 
}

.main-nav__container--opened::before {
    content: "";
    position: absolute;
    top: 25px;
    left: 20px;
    width: 76px;
    height: 24px;
    background: url(../img/logo-pink-white-mobile.svg) no-repeat; 
}

.main-nav__toggle {
    position: absolute;
    top: -47px;
    right: 20px;
    z-index: 10;
    display: block;
    width: 50px;
    height: 25px;
    font-size: 0;
    cursor: pointer;
    background: url(../img/icon-menu-burger.svg);
    background-repeat: no-repeat; 
}

.main-nav__toggle:hover {
    background: url(../img/icon-menu-burger-hover.svg);
    background-repeat: no-repeat; 
}

.main-nav__toggle--opened {
    right: 30px;
    width: 27px;
    height: 27px;
    background-image: url(../img/icon-menu-cross.svg);
    background-repeat: no-repeat; 
}

.main-nav__toggle--opened:hover {
    background-image: url(../img/icon-menu-cross-hover.svg);
    background-repeat: no-repeat; 
}

.main-nav__toggle:active {
    opacity: 0.3;
}

.main-nav__toggle--opened:active {
    opacity: 0.3;
}

.main-nav__items {
    list-style: none;
    padding: 0;
    margin: 0; 
}

.main-nav__item {
    padding: 23px;
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    box-shadow: inset 0 2px 0 0 #000101, inset 0 4px 0 0 #485461; 
}

.main-nav_item:last-child {
    border-bottom: 2px solid #000101; 
}

.main-nav__link {
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    color: #FFFFFF; 
}

.main-nav__link:active {
    opacity: 0.3; 
}

.main-nav__link:hover {
    color: #d22856; 
    transition: 0.3s;
}

.page-footer {
    padding-top: 37px; 
}

.page-footer__container {
    width: auto;
    min-width: 300px;
    margin: 0 auto; 
}

.page-footer__links {
    margin: 0 auto;
    text-align: center; 
}

.page-footer__links-container {
    width: auto;
    min-width: 300px;
    margin: 0 auto; 
}

.page-footer__logo {
    width: 149px;
    height: 41px;
    text-align: center; 
    background-image: url(../img/logo-pink-blue-tablet-footer.svg);
    background-repeat: no-repeat;
}

.page-footer__logo:hover {
    background-image: url(../img/logo-pink-blue-tablet.svg);
    background-repeat: no-repeat;
    transition: 0.3s;
}

.page-footer__logo:active {
    background-image: url(../img/logo-pink-blue-tablet-footer.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
}

.page-footer__copyright {
    text-align: center; 
}

.page-footer__copyright-link {
    display: inline-block;
    vertical-align: middle;
    width: 28px;
    height: 35px;
    margin-left: 15px;
    font-size: 0;
    background-image: url(../img/logo-htmlacademy.svg);
    background-repeat: no-repeat;
    background-position: center; 
}

.page-footer__copyright-link:hover {
    background-image: url(../img/logo-htmlacademy-hover.svg);
    background-repeat: no-repeat;
    background-position: center; 
    transition: 0.3s;
}

.page-footer__copyright-link:active {
    background-image: url(../img/logo-htmlacademy-hover.svg);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}

.intro {
    position: relative;
    margin-top: -72px;
    padding: 0 20px;
    padding-top: 100px;
    padding-bottom: 40px;
    background-color: #1d2631;
    background-image: url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    color: #FFFFFF; 
}

.intro--main {
    position: relative;
    padding-top: 456px;
    padding-bottom: 35px;
    background-image: url(../img/iphone-hand-mobile@1x.png), url(../img/bg-back-mobile@1x.jpg);
    background-repeat: no-repeat, no-repeat;
    background-position: center 175px, center top; 
}

.intro__container {
    width: auto;
    min-width: 300px;
    margin: 0 auto; 
}

.intro__heading {
    margin: 0;
    font-family: "Open Sans Light","Arial", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center; 
}

.download-info {
    color: #FFFFFF; 
}

.download-info__btn {
    display: block;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 18px 33px;
    font-family: "Open Sans Bold","Arial", sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
    text-align: center;
    border: 3px solid #FFFFFF;
    border-radius: 50px; 
}

.download-info__btn:hover {
    color: #d22856;
    background-color: #FFFFFF;
    transition: 0.3s;
}

.download-info__btn:active {
    color: rgba(210, 40, 86, 0.3);
    background-color: #FFFFFF; }

.download-info__links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: block;
    margin: 0 auto;
    font-size: 0;
    width: 230px;
    margin-bottom: 30px; 
}

.download-info__icons {
    display: inline-block;
    margin-right: 32px; 
}

.download-info__icons:last-child {
    margin-right: 0; 
}

.download-info__link {
    display: inline-block;
    width: 55px;
    height: 55px;
    font-size: 0; 
}

.download-info__link--apple {
    background: url(../img/logo-apple.svg) no-repeat 50% 50%; 
}

.download-info__link--android {
    background: url(../img/logo-android.svg) no-repeat 50% 50%; 
}

.download-info__link--windows {
    background: url(../img/logo-microsoft.svg) no-repeat 50% 50%; 
}

.download-info__heading {
    display: none;
    margin: 0; 
}

.download-info__description {
    margin: 0;
    font-family: "Open Sans Light","Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    text-align: center; 
}

.slogan {
    position: relative;
    padding-top: 50px;
    padding-bottom: 29px;
    font-family: "Open Sans Light","Arial", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center; 
}

.slogan::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 50px;
    background-image: linear-gradient(to top left, #f2f2f2 50%, transparent 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0; 
}

.slogan__container {
    width: 280px;
    margin: 0 auto; 
}

.slogan__line {
    margin: 0;
    margin-bottom: 40px; 
}

.features {
    background-color: #f2f2f2;
    padding: 0 20px;
    padding-bottom: 80px;
    background-image: url(../img/iphone-screen-tablet-3@1x.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 200px auto; 
}

.features__container {
    width: auto;
    min-width: 300px;
    margin: 0 auto; 
}

.features__items {
    list-style: none;
    padding: 0;
    margin: 0;
    padding-top: 56px;
    list-style: none;
    position: relative; 
}

.features__item {
    margin-bottom: 45px;
    text-align: center;
    position: relative;
    width: auto; 
}

.features__item:nth-child(3) {
    margin-bottom: 320px; 
}

.features__name {
    font-family: "Open Sans Bold","Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px; 
}

.features__description {
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px; 
}

.effect {
    display: none; 
}

.effect__container {
    width: auto;
    min-width: 300px;
    margin: 0 auto; 
}

.effect__content {
    padding-left: 310px;
    position: relative; 
}

.effect__heading {
    font-family: "Open Sans Bold","Arial", sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 36px; 
}

.effect__description {
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px; 
}

.effect__link {
    color: #d22856; 
}

.reviews {
    position: relative; 
}

.reviews::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 60px;
    background-image: linear-gradient(to top left, #f2f2f2 50%, transparent 50%);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0; 
}

.reviews__container {
    width: 280px;
    margin: 0 auto;
    position: relative; 
}

.reviews__input {
    display: none; 
}

.reviews__inner {
    overflow: hidden;
    width: auto; 
}

.reviews__items {
    width: 300%;
    transition: transform .8s ease; 
}

.reviews__controls {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 100px;
    z-index: 100;
    font-size: 0;
    text-align: center; 
}

.reviews__slider-controls {
    display: none; 
}

.reviews__label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    cursor: pointer; 
}

.reviews__label:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    transition: background-color .2s;
}

.reviews__label:before:hover {
    background-color: #7e868f;
    transition: 0.3s;
}

.reviews__label:before:active {
    background-color: #e9ebec; 
}

.reviews__item {
    float: left;
    width: 280px;
    min-height: 300px;
    padding-top: 48px;
    padding-bottom: 45px;
    text-align: center; 
}

.reviews__author {
    font-family: "Open Sans Bold","Arial", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    font-style: normal; 
}

.reviews__author-description {
    display: none; 
}

.reviews__quote {
    margin: 0;
    font-family: "Open Sans","Arial", sans-serif;
    font-size: 14px;
    line-height: 30px;
    font-weight: normal; }

#review-toggle-1:checked ~ .reviews__controls label[for="review-toggle-1"]:before,
#review-toggle-2:checked ~ .reviews__controls label[for="review-toggle-2"]:before,
#review-toggle-3:checked ~ .reviews__controls label[for="review-toggle-3"]:before {
    background-color: #FFFFFF;
    top: -3px;
    left: 8px;
    border: 3px solid #1d2631; 
}

#review-toggle-1:checked ~ .reviews__inner .reviews__items {
    transform: translate(0); 
}

#review-toggle-2:checked ~ .reviews__inner .reviews__items {
    transform: translate(-280px); 
}

#review-toggle-3:checked ~ .reviews__inner .reviews__items {
    transform: translate(-560px); 
}

.pricing {
    position: relative;
    padding-top: 43px;
    padding-bottom: 90px;
    background-color: #f2f2f2; 
}

.pricing__container {
    width: auto;
    min-width: 300px;
    margin: 0 auto;
    overflow: hidden; 
}

.pricing__input {
    display: none; 
}

.pricing__label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    width: 24px;
    height: 24px;
    cursor: pointer; 
}

.pricing__label:before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #bec2c7;
    border-radius: 50%;
    transition: background-color .2s;
}

.pricing__label:before:hover {
    background-color: #7e868f; 
    transition: 0.3s;
}

.pricing__label:before:active {
    background-color: #e9ebec; 
}

.pricing__controls {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 30px;
    font-size: 0;
    z-index: 100;
    text-align: center; 
}

.pricing-table {
    border: none;
    border-collapse: collapse;
    transition: transform .8s ease; 
}

.pricing-table__cell {
    min-width: 277px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0;
    background-color: #FFFFFF;
    background-clip: padding-box;
    border: 3px solid #bec2c7; 
}

.pricing-table__cell--feature {
    display: none; 
}

.pricing-table__cell--yes {
    text-align: right;
    position: relative; 
}

.pricing-table__cell--yes::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 16px;
    width: 32px;
    height: 32px;
    background-image: url(../img/icon-yes.svg);
    background-size: 100%;
    background-repeat: no-repeat; 
}

.pricing-table_cell--no {
    position: relative;
    text-align: right; 
}

.pricing-table__cell--no::after {
    content: "";
    position: absolute;
    top: 16px;
    right: 16px;
    width: 30px;
    height: 30px;
    background-image: url(../img/icon-no.svg);
    background-size: 100%;
    background-repeat: no-repeat; 
}

.pricing-table__cell--filter {
    position: relative; 
}

.pricing-table__header {
    width: 280px;
    min-height: 50px;
    background-color: #1d2631;
    color: #FFFFFF;
    border: 2px solid #1d2631;
    border-bottom: none; 
}

.pricing-table__header--hit {
    position: relative; 
}

.pricing-table__header--hit::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 74px;
    height: 73px;
    z-index: 100;
    background-image: linear-gradient(-45deg, transparent 50%, #d22856 50%, #d22856 80%, transparent 80%); 
}

.pricing-table__header--hit::after {
    content: "ХИТ";
    position: absolute;
    top: 7px;
    left: 7px;
    width: 74px;
    height: 73px;
    z-index: 100;
    transform: rotate(-45deg); 
}

.pricing-table__header--tariff {
    padding-top: 25px;
    padding-bottom: 15px;
    font-family: "Open Sans Bold","Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase; 
}

.pricing-table__header--price {
    padding-bottom: 25px;
    font-family: "Open Sans Light","Arial", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase; 
}

.pricing-table__header--empty {
    display: none; 
}

.footer-map {
    min-height: 200px;
    background-image: url(../img/bg-map-mobile@1x.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: bottom; 
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 175px;
    font-size: 0; 
}

.social-links__item {
    display: inline-block;
    vertical-align: baseline;
    width: 50px;
    height: 50px;
    margin-right: 11px; }

.social-links__item:last-child {
    margin-right: 0; 
}

.social-links__link--tw {
    background-image: url(../img/icon-twitter.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.social-links__link--fb {
    background-image: url(../img/icon-facebook.svg);
    background-position: center center;
    background-repeat: no-repeat;
}

.social-links__link--youtube {
    background-image: url(../img/icon-youtube.svg);
    background-position: 57% center;
    background-repeat: no-repeat;
}

.social-links__link {
    position: relative;
    display: block;
    width: 45px;
    height: 45px;
    border: 3px solid #bec2c7;
    border-radius: 50%; 
}

.social-links__link:hover {
    border: 3px solid #283645; 
    transition: 0.3s;
}

.social-links__link:active {
    opacity: 0.3; 
}

.users-gallery__container {
    width: auto;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column; 
}

.users-gallery__panorama-container {
    width: auto;
    min-width: 300px;
    margin: 0 auto; 
}

.users-gallery__description {
    margin: 0;
    padding-top: 37px;
    padding-bottom: 53px;
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center; 
}

.users-gallery__promo {
    margin-top: 42px;
    margin-bottom: 41px;
    width: 100%;
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px;
    text-align: center; 
}

.photos-item {
    display: block;
    margin: 0 20px;
    margin-bottom: 20px;
    font-size: 0;
    line-height: 0;
    background-color: #f2f2f2; 
}

.photos-item__panorama {
    width: auto;
    min-width: 320px;
    margin-bottom: 20px;
    margin-right: 0;
    font-size: 0;
    line-height: 0; 
}

.photos-item__panorama-container {
    width: auto;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
    top: 38px;
    margin-top: -38px; 
}

.photos-item__panorama-container::after {
    content: "";
    display: table;
    clear: both; 
}

.photos-item__best {
    display: block;
    float: right;
    padding: 7px 20px;
    top: 0;
    right: 20px;
    background-color: #d22856;
    color: white;
    font-family: "Open Sans Bold", "Arial", sans-serif;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    line-height: 24px; 
}

.photos-item__photo {
    width: 100%;
    height: auto; 
}

.photos-item__photo--panorama {
    width: auto;
    height: auto;
    margin: 0; 
}

.photos-item__image {
    width: 100%;
    height: auto; 
}

.photos-item__author {
    display: inline-block;
    margin-right: 10px;
    font-family: "Open Sans Bold","Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: bold; 
}

.photos-item__time {
    position: relative;
    display: inline-block;
    font-family: "Open Sans Light","Arial", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase; 
}

.photos-item__time::before {
    position: absolute;
    content: "(";
    top: 0;
    left: -5px; 
}

.photos-item__time::after {
    position: absolute;
    content: ")";
    top: 0;
    right: -5px; 
}

.photos-item__comment {
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 30px; 
}

.photos-item__likes {
    position: relative;
    margin-left: 32px;
    font-family: "Open Sans","Arial", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    text-transform: uppercase;
    color: #d22856; 
}

.photos-item__likes::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 13px;
    top: 5px;
    left: -32px;
    background-image: url(../img/icon-heart.svg);
    background-repeat: no-repeat;
    background-size: cover; 
}

.photos-item__likes--panorama {
    margin-top: 0;
    margin-right: 60px; 
}

.photos-item__description {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    padding: 15px 25px; 
}

.user-interface {
    background-color: #f2f2f2; 
}

.user-interface__container {
    width: auto;
    min-width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 40px; 
}

.user-interface__image {
    margin: 0 20px;
    padding-top: 20px;
    padding-bottom: 40px;
    font-size: 0;
    line-height: 0; }

.user-interface__image img {
    width: 100%;
    height: auto; 
}

.user-interface__tools-icons {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
    margin-bottom: 34px;
    font-size: 0; 
}

.user-interface__icon {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    font-size: 0;
    background-repeat: no-repeat;
    background-position: center; 
}

.user-interface__icon:last-child {
    margin-right: 0; 
}

.user-interface__icon--crop {
    width: 46px;
    height: 44px;
    background-image: url(../img/icon-editor-crop.svg); 
}

.user-interface__icon--fill {
    width: 48px;
    height: 48px;
    background-image: url(../img/icon-editor-fill.svg); 
}

.user-interface__icon--contrast {
    width: 46px;
    height: 44px;
    background-image: url(../img/icon-editor-contrast.svg);
    background-size: 38px; 
}

.user-interface__radio {
    display: none; 
}

.user-interface__range-inner {
    display: block;
    overflow: hidden;
    min-width: 240px;
    height: 70px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 34px;
    margin-bottom: 40px; 
}

.user-interface__range {
    width: 100%;
    margin-bottom: 50px;
    -webkit-appearance: none;
    border: 1px solid #f2f2f2; 
}

.user-interface__range::-webkit-slider-runnable-track {
    height: 3px;
    background: #1d2631;
    border: none; 
}

.user-interface__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #d22856;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: white;
    margin-top: -4px; 
}

.user-interface__range::-webkit-slider-thumb:active {
    background: #d22856; 
}

.user-interface__range:focus {
    outline: none; 
}

.user-interface__range:focus::-webkit-slider-runnable-track {
    background: #1d2631; 
}

.user-interface__range::-moz-range-track {
    height: 3px;
    background: #1d2631;
    border: none; 
}

.user-interface__range::-moz-range-thumb {
    height: 14px;
    width: 14px;
    border: 2px solid #d22856;
    border-radius: 50%;
    background: white; 
}

.user-interface__range::-moz-range-thumb:active {
    background: #d22856; 
}

.user-interface__range:-moz-focusring {
    outline: 1px solid transparent;
    outline-offset: -1px; 
}

.user-interface__range::-ms-track {
    height: 5px;
    background: transparent;
    border-color: transparent;
    border-width: 6px 0;
    color: transparent; 
}

.user-interface__range::-ms-fill-lower {
    background: #1d2631;
    border-radius: 10px; 
}

.user-interface__range::-ms-fill-upper {
    background: #1d2631;
    border-radius: 10px; 
}

.user-interface__range::-ms-thumb {
    border: none;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    background: white; 
}

.user-interface__range:focus::-ms-fill-lower {
    background: #1d2631; 
}

.user-interface__range:focus::-ms-fill-upper {
    background: #1d2631; 
}

.user-interface__btn {
    display: block;
    min-width: 280px;
    box-sizing: border-box;
    padding: 20px 70px;
    margin: 0 auto;
    margin-bottom: 15px;
    border: 2px solid #d22856;
    border-radius: 30px;
    background-color: transparent;
    font-family: "Open Sans Bold","Arial", sans-serif;
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    color: #d22856; 
}

.user-interface__btn--submit:hover {
    background-color: #d22856;
    color: #FFFFFF;
    transition: 0.3s;
}

.user-interface__btn--submit:active {
    color: rgba(255, 255, 255, 0.3); 
}

.user-interface__btn--reset {
    color: rgba(181, 185, 190, 0.3);
    border-color: rgba(181, 185, 190, 0.3); 
}

.user-interface__btn--reset:hover {
    color: #b5b9be;
    border-color: #b5b9be; 
    transition: 0.3s;
}

.user-interface__btn--reset:active {
    background-color: #b5b9be;
    color: rgba(255, 255, 255, 0.3); 
}

#tools-toggle-1:checked ~ .user-interface__tools-icons label[for="tools-toggle-1"],
#tools-toggle-2:checked ~ .user-interface__tools-icons label[for="tools-toggle-2"],
#tools-toggle-3:checked ~ .user-interface__tools-icons label[for="tools-toggle-3"] {
    /*outline: 1px solid $body-font;*/ 
}

.contacts {
    padding-bottom: 35px;
    position: relative; 
}

.contacts__container {
    width: auto;
    min-width: 300px;
    margin: 0 auto; 
}

.contacts__container::after {
    content: "";
    position: absolute;
    bottom: -40px;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 41px;
    background-image: linear-gradient(to top right, transparent 50%, white 50%), linear-gradient(to top left, transparent 50%, white 50%);
    background-size: 50.1% 100%;
    background-repeat: no-repeat;
    background-position: 0 0, 100% 0; 
}

.contacts__heading {
    font-family: "Open Sans Light","Arial", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center; 
}

.contacts__title {
    font-family: "Open Sans Bold","Arial", sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    text-align: center; 
}

.contacts__value {
    margin: 0;
    font-family: "Open Sans Light","Arial", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #d22856; 
}

.contacts__value a {
    color: #d22856; 
}

.contacts__value--mail:hover a {
    color: black;
    text-decoration: underline;
    transition: 0.3s;
}

.contacts__value--mail:active a {
    color: #f2f2f2;
    text-decoration: none; 
}

.contacts__items {
    display: block;
    text-align: center; }

.contacts__item {
    display: block; }

.visually-hidden {
    display: none; 
}

@font-face {
    font-weight: normal;
    font-family: "Open Sans Light";
    font-style: normal;
    src: url("../fonts/opensanslight.woff") format("woff"), url("../fonts/opensanslight.woff2") format("woff2"); 
}

@media (min-width: 768px) {
    
    .page-header__container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .page-header__logo {
        width: 150px;
        height: 42px;
        margin-bottom: 42px; 
        background-image: url(../img/logo-pink-white-tablet.svg);
        background-repeat: no-repeat;
    }

    .page-header__logo:hover {
        background-image: url(../img/logo-pink-blue-tablet.svg);
        transition: 0.3s;
    }

    .page-header__logo:active {
        background-image: url(../img/logo-pink-white-tablet.svg);
        opacity: 0.5;
    }

    .page-header__container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .page-header__logo {
        width: 150px;
        height: 42px;
        margin-bottom: 42px; 
    }

    .main-nav__container--opened {
        top: -109px;
        left: -10%;
        padding-top: 108px;
        width: 120%; 
    }

    .main-nav__container--opened::before {
        left: 10.5%;
        width: 150px;
        height: 42px;
        background: url(../img/logo-pink-white-mobile.svg) no-repeat; 
    }

    .main-nav__toggle {
        top: -72px; 
    }

    .main-nav__toggle--opened {
        top: -72px; 
    }

    .page-footer {
        padding-top: 0; 
    }

    .page-footer__container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .page-footer__links {
        display: block;
        padding: 35px 0; 
    }

    .page-footer__links-container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .page-footer__links-container {
        display: flex;
        justify-content: space-between; 
    }

    .page-footer__logo {
        flex-basis: 145px; 
    }

    .page-footer__copyright {
        flex-basis: 165px; 
    }

    .page-footer__copyright-text {
        font-family: "Open Sans","Arial", sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 18px; 
        color: #283645;
    }
    
    .intro {
        margin-top: -110px;
        padding: 0;
        padding-top: 180px;
        padding-bottom: 70px;
        background-image: url(../img/bg-back-tablet@1x.jpg);
        background-size: cover;
        background-position: center top; 
    }

    .intro--main {
        padding: 110px 0;
        background-image: url(../img/iphone-hand-tablet@1x.png), url(../img/bg-back-tablet@1x.jpg);
        background-size: 700px, cover;
        background-position: 65% bottom, center top; 
    }

    .intro__container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .intro__heading {
        font-size: 40px;
        line-height: 48px; 
    }

    .download-info {
        width: 300px; 
    }

    .download-info__btn {
        margin-bottom: 60px; 
    }

    .download-info__links {
        margin-bottom: 40px; 
    }

    .download-info__heading {
        display: block;
        margin: 0 40px;
        margin-top: 105px;
        margin-bottom: 30px;
        font-family: "Open Sans Light","Arial", sans-serif;
        font-weight: normal;
        font-size: 40px;
        line-height: 48px;
        text-align: center; 
    }

    .download-info__description {
        font-size: 18px; 
    }

    .slogan {
        padding-top: 65px;
        padding-bottom: 85px;
        font-size: 40px;
        line-height: 48px; 
    }

    .slogan__container {
        width: 620px; 
    }

    .slogan__line {
        margin-bottom: 0; 
    }

    .slogan__line__line--second {
        padding: 0 50px; 
    }

    .features {
        padding-bottom: 0;
        background-image: none; 
    }

    .features__container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .features__items {
        padding-left: 310px;
        padding-top: 28px; 
    }

    .features__items::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: 10;
        width: 267px;
        height: 485px;
        background-image: url(../img/iphone-screen-tablet-3@1x.png);
        background-repeat: no-repeat;
        background-size: 100%; 
    }

    .features__item {
        text-align: left; 
    }

    .features__item:nth-child(3) {
        margin-bottom: 0;
        padding-bottom: 45px; 
    }

    .features__name {
        line-height: 10px; 
    }

    .effect {
        display: block;
        padding-top: 80px;
        padding-bottom: 70px;
        background-color: #FFFFFF; 
    }

    .effect__container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .effect__content::before {
        content: "";
        position: absolute;
        width: 240px;
        height: 275px;
        left: 0;
        top: -70px;
        background-image: url(../img/icon-timer.svg);
        background-repeat: no-repeat;
        background-size: contain; 
    }

    .effect__content::after {
        content: "24";
        position: absolute;
        width: 173px;
        height: 173px;
        left: 19px;
        top: -13px;
        border-radius: 50%;
        border: 15px solid #d22856;
        font-family: "Open Sans Bold", "Arial", sans-serif;
        font-size: 96px;
        line-height: 170px;
        color: #d22856;
        text-align: center; 
    }

    .reviews__container {
        width: 620px; 
    }

    .reviews__item {
        width: 620px;
        padding-top: 62px;
        padding-bottom: 41px; 
    }

    .reviews__author {
        font-size: 20px; 
    }

    .reviews__author-description {
        display: block;
        font-family: "Open Sans","Arial", sans-serif;
        font-size: 14px;
        line-height: 30px;
        font-weight: normal; 
    }

    #review-toggle-2:checked ~ .reviews__inner .reviews__items {
        transform: translate(-620px); 
    }

    #review-toggle-3:checked ~ .reviews__inner .reviews__items {
        transform: translate(-1240px); 
    }

    .pricing__container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .pricing__container {
        width: auto;
        min-width: 300px;
        margin: 0 auto; 
    }

    .pricing__label {
        display: none; 
    }

    .pricing-table__cell {
        min-width: 120px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 23px; 
    }

    .pricing-table__cell--feature {
        display: table-cell;
        font-family: "Open Sans Light","Arial", sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 30px; 
    }

    .pricing-table__cell--yes {
        text-align: center; 
    }

    .pricing-table_cell--no {
        text-align: center; 
    }

    .pricing-table__header {
        min-width: 154px; 
    }

    .pricing-table__header--empty {
        display: table-cell;
        border: 0;
        background-color: transparent; 
    }

    .footer-map {
        min-height: 378px;
        background: url(../img/bg-map-tablet@1x.jpg); 
    }

    .users-gallery__container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .users-gallery__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between; 
    }

    .users-gallery__panorama-container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .users-gallery__description {
        padding-top: 80px;
        padding-bottom: 70px;
        font-size: 18px; 
    }

    .users-gallery__promo {
        margin-top: 70px;
        margin-bottom: 70px;
        font-size: 18px;
        line-height: 30px; 
    }

    .photos-item {
        min-height: 455px;
        margin: 0;
        margin-bottom: 20px;
        flex-basis: 48.4%; 
    }

    .photos-item__panorama {
        display: block;
        width: auto; 
    }

    .photos-item__panorama-container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .photos-item__panorama-container {
        top: 98px;
        margin-top: -98px; 
    }

    .photos-item__photo {
        width: 100%;
        height: auto; 
    }

    .photos-item__photo--panorama {
        display: block; 
    }

    .photos-item__author {
        order: 0; 
    }

    .photos-item__time {
        order: 1; 
    }

    .photos-item__comment {
        order: 3;
        min-height: 60px; 
    }

    .photos-item__likes {
        order: 2;
        margin-left: auto;
        margin-top: 20px; 
    }

    .photos-item__likes::before {
        left: 95%; 
    }

    .photos-item__likes--panorama::before {
        left: 100px; 
    }

    .photos-item__description {
        padding: 25px 30px; 
    }

    .photos-item__description--panorama {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: 25px;
        padding-bottom: 25px; 
    }

    .user-interface__container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .user-interface__container {
        flex-direction: row;
        justify-content: space-around;
        padding-top: 55px;
        padding-bottom: 50px; 
    }

    .user-interface__image {
        margin: 0; 
    }

    .user-interface__tools-icons {
        flex-direction: column;
        position: absolute;
        margin: 0;
        height: 215px;
        width: 44px; 
    }

    .user-interface__icon--crop {
        width: 30px;
        height: 72px;
        margin-right: 0;
        background-size: 30px;
        background-position: center center; 
    }

    .user-interface__icon--fill {
        width: 30px;
        height: 72px;
        margin-right: 0;
        background-size: 30px; 
    }

    .user-interface__icon--contrast {
        width: 30px;
        height: 70px;
        background-size: 22px; 
    }

    .user-interface__range-inner {
        width: 290px;
        height: 213px; 
    }

    .user-interface__range {
        width: 202px;
        margin-left: 80px; 
    }

    .user-interface__icon::after {
        content: "";
        position: absolute;
        z-index: 10;
        top: 75px;
        width: 350px;
        border-bottom: 1px solid #bec2c7; 
    }

    .contacts {
        min-height: 280px;
        padding-bottom: 30px; 
    }

    .contacts__container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }

    .contacts__container::after {
        height: 71px;
        bottom: -70px; 
    }

    .contacts__heading {
        padding: 0 70px;
        font-size: 40px;
        line-height: 48px; 
    }

    .contacts__item {
        float: left; 
    }

    .contacts__item:nth-child(2) {
        float: right; 
    }

    .contacts__item:last-child {
        width: 100%; 
    }

    .contacts__item:last-child::after {
        content: "";
        display: table;
        clear: both; 
    }
}


@media (min-width: 768px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 768px) and (min-resolution: 144dpi), (min-width: 768px) and (min-resolution: 1.5dppx) {
    
    .intro {
        background-image: url(../img/bg-back-tablet@2x.jpg); 
    }

    .intro--main {
        background-image: url(../img/iphone-hand-tablet@2x.png), url(../img/bg-back-tablet@2x.jpg); 
    }

    .features__items::before {
        background-image: url(../img/iphone-screen-tablet-3@2x.png); 
    }
}


@media (min-width: 768px) and (min-width: 768px) {
    
    .pricing__container {
        padding: 0;
        width: 84%;
        max-width: 939px;
        margin: 0 auto; 
    }
}


@media (min-width: 1100px) {
    .page-header {
        z-index: 8; 
    }

    .page-header__container {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }

    .page-header {
        z-index: 8; 
    }

    .page-header__container {
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
       
    .page-header__logo {
        width: 150px;
        height: 42px;
        margin-right: 145px;
        float: none; 
        background-image: url(../img/logo-pink-white-desktop.svg);
        background-repeat: no-repeat;
    }

    .page-header__logo:hover {
        background-image: url(../img/logo-pink-blue-desktop.svg);
        transition: 0.3s;
    }

    .page-header__logo:active {
        background-image: url(../img/logo-pink-white-desktop.svg);
        opacity: 0.5;
    }

    .main-nav {
        width: auto; 
    }

    .main-nav__container {
        position: static;
        display: block;
        background-color: transparent;
        width: auto;
        padding-top: 0; 
    }

    .main-nav__container--opened {
        top: 0;
        position: static;
        width: auto;
        padding-top: 0;
        background-color: transparent; 
    }

    .main-nav__container--opened::before {
        content: none; 
    }

    .main-nav__toggle {
        display: none; 
    }

    .main-nav__items {
        display: flex; 
    }

    .main-nav__item {
        border: none;
        box-shadow: none;
        line-height: 18px; 
    }

    .main-nav_item:last-child {
        border: none; 
    }

    .main-nav__link {
        text-transform: capitalize; 
    }

    .main-nav__link:hover {
        color: white;
        transition: 0.3s;
    }

    .main-nav__link:hover::after {
        content: "";
        position: absolute;
        top: 30px;
        left: 0;
        width: 100%;
        border-bottom: 2px solid white; 
        transition: 0.3s;
    }

    .page-footer__links {
        display: block;
        padding: 55px 0; 
    }
    
    .page-footer__logo {
        flex-basis: 149px; 
        background-image: url(../img/logo-pink-blue-desktop-footer.svg);
        background-repeat: no-repeat;
    }

    .page-footer__logo:hover {
        background-image: url(../img/logo-pink-blue-desktop-footer-hover.svg);
        background-repeat: no-repeat;
        transition: 0.3s;
    }

    .page-footer__logo:active {
        background-image: url(../img/logo-pink-blue-desktop-footer.svg);
        background-repeat: no-repeat;
        opacity: 0.3;
    }

    .page-footer__copyright {
        flex-basis: 180px; 
    }

    .page-footer__copyright-text {
        font-size: 18px; 
    }

    .intro {
        padding-bottom: 90px;
        background-image: url(../img/bg-back-desktop@1x.jpg);
        background-size: cover;
        background-position: center top; 
    }

    .intro--main {
        padding-top: 110px;
        padding-bottom: 125px;
        background-image: url(../img/iphone-hand-desktop@1x.png), url(../img/bg-back-desktop@1x.jpg);
        background-size: 1000px, cover;
        background-position: 65% bottom, center top; 
    }

    .intro__heading {
        display: block;
        font-size: 50px;
        line-height: 60px; 
    }

    .download-info {
        width: 300px; 
    }

    .download-info__btn {
        font-size: 21px;
        padding: 18px 20px; 
    }

    .download-info__links {
        margin-bottom: 55px; 
    }

    .download-info__heading {
        display: block;
        margin-top: 125px;
        margin-bottom: 60px;
        font-size: 50px;
        line-height: 60px;
        text-align: center; 
    }

    .slogan {
        padding-top: 85px;
        padding-bottom: 104px;
        font-size: 50px;
        line-height: 60px; 
    }

    .slogan__container {
        width: 940px; 
    }

    .slogan__container__line--second {
        padding: 0 150px; 
    }

    .features {
        background-image: none; 
    }

    .features__items {
        padding-left: 0;
        display: table; 
    }

    .features__items::before {
        content: none; 
    }

    .features__item {
        width: 320px;
        text-align: center;
        display: table-cell;
        padding: 0 30px;
        padding-top: 260px; 
    }

    .features__item::before {
        content: "";
        position: absolute;
        left: 10px;
        top: -55px;
        width: 300px;
        height: 300px;
        z-index: 10;
        background-repeat: no-repeat;
        background-position: center top;
        background-size: 100%; 
    }

    .features__item:nth-child(1)::before {
        background-image: url(../img/iphone-screen-desktop-1@1x.png);
        background-position: center bottom;
        background-size: contain; 
    }

    .features__item:nth-child(2)::before {
        background-image: url(../img/iphone-screen-desktop-2@1x.png);
        background-position: center bottom;
        background-size: contain; 
    }

    .features__item:nth-child(3) {
        margin-bottom: 0; 
    }

    .features__item:nth-child(3)::before {
        background-image: url(../img/iphone-screen-desktop-3@1x.png);
        background-position: center bottom;
        background-size: contain; 
    }

    .features__name {
        font-size: 30px;
        line-height: 30px;
        text-align: center; 
    }

    .features__description {
        font-size: 18px;
        line-height: 30px; 
    }

    .effect {
        padding-top: 128px;
        padding-bottom: 118px;
        background-color: #f2f2f2; 
    }

    .effect__content {
        padding-left: 370px;
        position: relative; 
    }

    .effect__content::before {
        left: 0;
        top: -100px;
        width: 301px;
        height: 345px; 
    }

    .effect__content::after {
        left: 19px;
        top: -34px;
        width: 221px;
        height: 221px;
        font-size: 120px;
        line-height: 200px;
        border: 19px solid #d22856; 
    }

    .effect__description {
        font-size: 18px;
        line-height: 30px; 
    }

    .reviews__container {
        width: 940px; 
    }

    .reviews::before {
        content: "";
        position: absolute;
        top: 74px;
        right: 48%;
        width: 78px;
        height: 64px;
        background-image: url(../img/icon-quotes.svg); 
    }

    .reviews__inner {
        width: 960px; 
    }

    .reviews__slider-controls {
        display: inline-block;
        position: absolute;
        top: 200px;
        width: 22px;
        height: 44px;
        background-color: white;
        cursor: pointer;
        z-index: 100;
    }

    .reviews__slider-controls--right {
        right: 0;
        background-image: url(../img/icon-review-arrow-right.svg);
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.3;
    }

    .reviews__slider-controls--left {
        left: 0; 
        background-image: url(../img/icon-review-arrow-left.svg);
        background-position: center center;
        background-repeat: no-repeat;
        opacity: 0.3;
    }

    .reviews__item {
        width: 940px;
        padding-top: 190px;
        padding-bottom: 43px;
        display: flex;
        flex-direction: column; 
    }

    .reviews__author {
        font-size: 24px;
        order: 1; 
    }

    .reviews__author-description {
        font-size: 18px;
        line-height: 30px;
        order: 2; 
    }

    .reviews__quote {
        padding-left: 60px;
        padding-right: 60px;
        padding-bottom: 50px;
        order: 0; 
    }

    #review-toggle-2:checked ~ .reviews__inner .reviews__items {
        transform: translate(-960px); 
    }

    #review-toggle-3:checked ~ .reviews__inner .reviews__items {
        transform: translate(-1920px); 
    }

    .pricing-table__cell {
        min-width: 200px; 
    }

    .pricing-table__cell--feature {
        font-size: 18px; 
    }

    .pricing-table__header {
        min-width: 220px; 
    }

    .pricing-table__header--empty {
        display: table-cell;
        border: none; 
    }

    .footer-map {
        min-height: 503px;
        background: url(../img/bg-map-desktop@1x.jpg); 
    }

    .users-gallery__description {
        padding: 0 150px;
        padding-top: 80px;
        padding-bottom: 70px;
        font-size: 18px; 
    }

    .users-gallery__promo {
        margin-top: 60px;
        margin-bottom: 60px; 
    }

    .photos-item {
        min-height: 555px;
        flex-basis: 32%; 
    }

    .photos-item__panorama {
        display: block;
        width: auto; 
    }

    .user-interface {
        background-color: white; 
    }

    .user-interface__container {
        box-sizing: border-box;
        padding-top: 50px;
        padding-bottom: 54px;
        padding-left: 80px;
        padding-right: 60px;
        background-color: #f2f2f2; 
    }

    .user-interface__tools {
        margin-left: 90px; 
    }

    .user-interface__icon--crop {
        width: 32px;
        height: 74px;
        background-size: 40px;
        background-position: center center; 
    }


    .user-interface__icon--fill {
        width: 32px;
        height: 74px;
        background-size: 40px;
        background-position: center center; }
    .user-interface__icon--contrast {
        width: 30px;
        height: 74px;
        background-size: 28px;
        background-position: center center; }
    .user-interface__range-inner {
        width: 410px;
        height: 225px; }
    .user-interface__range {
        width: 288px;
        margin-left: 93px;
        margin-bottom: 50px; }
    .user-interface__icon::after {
        width: 450px; 
    }
    
    .user-interface__btn {
        padding: 20px 42px;
        min-width: 180px;
        margin: 0; 
    }
    
    .user-interface__submit {
        display: flex;
        justify-content: space-between; 
    }
    
    .contacts {
        min-height: 120px;
        padding-bottom: 25px; 
    }
    
    .contacts__heading {
        padding: 0 200px;
        font-size: 50px;
        line-height: 60px; 
    }
    
    .contacts__item {
        display: inline-block;
        vertical-align: top;
        float: none;
        width: 30%; 
    }
    
    .contacts__item:nth-child(2) {
        display: inline-block;
        float: none;
        width: 30%; 
    }
    
    .contacts__item:last-child {
        display: inline-block;
        width: 30%;
        clear: none; 
    } 
}

@media (min-width: 1100px) and (-webkit-min-device-pixel-ratio: 1.5), (min-width: 1100px) and (min-resolution: 144dpi), (min-width: 1100px) and (min-resolution: 1.5dppx){
    
    .intro--main {
        background-image: url(../img/iphone-hand-desktop@2x.png), url(../img/bg-back-desktop@2x.jpg); 
    }
    
    .features__item:nth-child(1)::before {
        background-image: url(../img/iphone-screen-desktop-1@2x.png); 
    }
    
    .features__item:nth-child(2)::before {
        background-image: url(../img/iphone-screen-desktop-2@2x.png); 
    }
    
    .features__item:nth-child(3)::before {
        background-image: url(../img/iphone-screen-desktop-3@2x.png); 
    } 
}

@media (max-width: 767px) {
    
    .page-footer__links--main {
        display: none; 
    }
    
    .page-footer__logo {
        margin: 0 auto;
        margin-bottom: 35px; 
    }
    
    .page-footer__copyright {
        margin: 0 auto;
        margin-bottom: 45px; 
    }
    
    .reviews__inner {
        padding-bottom: 50px; 
    }
    
    #pricing-toggle-1:checked ~ .pricing__controls label[for="pricing-toggle-1"]:before,
    #pricing-toggle-2:checked ~ .pricing__controls label[for="pricing-toggle-2"]:before,
    #pricing-toggle-3:checked ~ .pricing__controls label[for="pricing-toggle-3"]:before {
        background-color: #FFFFFF;
        top: -3px;
        left: 8px;
        border: 3px solid #1d2631; 
    }
    
    #pricing-toggle-1:checked ~ .pricing__slider .pricing-table {
        transform: translate(0); 
    }
    
    #pricing-toggle-2:checked ~ .pricing__slider .pricing-table {
        transform: translate(-280px); 
    }
    
    #pricing-toggle-3:checked ~ .pricing__slider .pricing-table {
        transform: translate(-560px); 
    }
    
    .pricing-table__cell--filter::before {
        content: attr(data-header);
        position: absolute;
        left: 15px;
        top: 17px;
        width: 200px;
        height: 30px;
        color: black;
        font-family: "Open Sans Light","Arial", sans-serif;
        font-weight: normal;
        font-size: 14px;
        line-height: 30px;
        text-transform: uppercase;
        text-align: left; 
    }
    
    .social-links {
        margin: 0 auto;
        margin-bottom: 35px; 
    }
    
    .user-interface__tools {
        position: relative;
    }
    
    .user-interface__tools::after {
        content: "";
        position: absolute;
        z-index: 10;
        top: 152px;
        left: 0;
        width: 100%;
        border-bottom: 1px solid #bec2c7; 
    }
    
    #tools-toggle-1:checked ~ .user-interface__range-inner .user-interface__range {
        transform: translateY(0); 
    }
    
    #tools-toggle-2:checked ~ .user-interface__range-inner .user-interface__range {
        transform: translateY(-70px); 
    }
    
    #tools-toggle-3:checked ~ .user-interface__range-inner .user-interface__range {
        transform: translateY(-140px); 
    } 
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 1.5), (max-width: 767px) and (min-resolution: 144dpi), (max-width: 767px) and (min-resolution: 1.5dppx) {
   
    .intro {
        background-image: url(../img/bg-back-mobile@2x.jpg);
        background-size: cover;
        background-position: center top; 
    }
    
    .intro--main {
        background-image: url(../img/iphone-hand-mobile@2x.png), url(../img/bg-back-mobile@2x.jpg);
        background-size: 290px, auto 495px;
        background-position: center 140px, center -15%; 
    }
    
    .features {
        background-image: url(../img/iphone-screen-mobile@2x.png); 
    } 
}